<h1>New product</h1>
 <% form_for :product, @product, :url=>{:action => 'create'}, :html => { :multipart => true } do |f|  %>
          <%= f.file_field :kvr %>
          <%=f.submit "Upload"%>
    <% end %>
<%= render 'form' %>

<%= link_to 'Back', products_path %>

